extends base 


block content 
 main  
  section.change-password-section
    h2 Change Password
    form.change-password-form
        .form-group
            label(for="current-password") Current Password
            input#current-password(type="password" name="currentPassword" required)
        .form-group
            label(for="new-password") New Password
            input#password(type="password" name="password" required)
        .form-group
            label(for="confirm-password") Confirm New Password
            input#confirm-password(type="password" name="passwordConfirm" required)
        button.change-password-btn(type="submit") Change Password